@{
    ViewBag.NavItem = "Account";
}

@using System.Security.Claims


<div class="col">

    <h4 class="display-4 text-info">Account info</h4>

    <div class="jumbotron jumbotron-fluid">
        <div>
            <p class="lead text-justify">

                Here you can create, view all the pieces of data (claims) which represent your identity related information on this website.
                Most claims are provided by the external identity provied in the form of an OIDC Id-token, some claims (e.g. LocalFolder) are added to your local identity after successful sign-in.
                <br>
                Of particular note is the "objectidentifier" claim which is your unique id at the identityprovider and is used to map your user account on this website to the ressources you use
            </p>
        </div>
    </div>

    <table class="table-light">
        <tr>
            <th>
                IsAuthenticated
            </th>
            <td>
                @ViewBag.ClaimsIdentity.IsAuthenticated
            </td>
        </tr>
    </table>

    <table class="table table-striped table-responsive">
        <tr>
            <th>
                Claim Type
            </th>
            <th>
                Claim Value
            </th>
        </tr>
        @foreach (System.Security.Claims.Claim claim in ViewBag.Claims)
        {
            <tr>
                <td>
                    @claim.Type
                </td>
                <td>
                    @claim.Value
                </td>
            </tr>
        }
    </table>

</div>

@section Sidebar
{
    @await Html.PartialAsync("SidebarPartial", "Info")
}
