@{
    ViewData["Title"] = "Greetings!";
}



@model WebUI.ViewModels.NewUserGreetingVm


<p>
    Dear @Model.Name, by clicking the below button you accept our terms of service and create a user profile.
    A user profile will enable additional services...
</p>

<form method="post" asp-action="NewUserGreeting">
    <input name="returnUrl" type="hidden" value="" />
    <input type="submit" value="Submit">
</form>

